*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    margin: 0;
    overflow: auto;
}

.container{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    font: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container img{
    width:750px;
    height: auto;
    margin: 20px 0;
}


.custom-container{
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.custom-container header{
    color: gray;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.custom-container .file-upload{
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed gray;
}

.custom-container .img1{
    font-size: 50px;
    color: gray;
}

form p{
    margin-top: 15px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
}

.description{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1 rem;
    cursor: default;
    user-select: none;
}



/* Nav bar styling */
nav li{
    display: inline;
    margin: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav li a{
    text-decoration: none;
    color: #C0C0C0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
}

nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

nav li a:hover::after {
    width: 100%;
}

.current{
    color: white;
    cursor: default;
    pointer-events: none;
    border-bottom: 2px solid white;
}

nav li a:hover{
    color: white;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}